[submodule "servant/protocol"]
	path = servant/protocol
	url = https://github.com/TarsCloud/TarsProtocol.git
[submodule "unittest"]
	path = unittest
	url = https://github.com/TarsCloud/tars-unittest.git
[submodule "test"]
	path = test
	url = https://github.com/Darrendyang/interview.git
